.Ability {
    /* padding-top: 20px; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Ability p {
    float: left;
    width: 80%;
    padding: 12px;
    border-left: solid 4px #77c2ff;
    background-color: #f0f0f0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    display: flex;
    min-height: 140px;
}

.Ability a {
    text-decoration: none;
}

.Ability a:link,
.Ability a:hover,
.Ability a.active,
.Ability a:visited {
    color: #2d2d2d;
}

.textAndHeaderContainer:hover {
    background-color: #d8d8d8;
}

.textAndHeaderContainer {
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.textAndHeaderContainer h4 {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

.Ability img {
    height: 60px;
}

.tooltip {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    width: 20%;
}

.tooltip span {
    display: none;
    opacity: 0%;
    min-width: 200px;
    background-color: #d8d8d8;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 108%;
    transition: .2s;
    font-weight: 300;
    /* color: #fff; */
}
  
.tooltip span::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 99.5%;
    border-radius: 3px;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent #d8d8d8;
}

.tooltip a:hover ~ span {
    display: block;
    opacity: 100%;
}

.readMore {

}

.readMore img {
    height: 12px;
    padding-right: 5px;
}