.AbilityItem {
    display: flex;
    flex-direction: column;
    margin-top: -2px;
    transition: .2s;
    height: 54px;
}

.AbilityItem:hover {
    cursor: pointer;
    
}

.AbilityItem:hover div {
    /* border-color: #77c2ff; */
    color: #77c2ff;
    /* transform: scale(); */
}

/* .AbilityItem:hover .normalLine {
    background-color: #77c2ff;
} */

.bulletAndTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activeBullet {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    border: 5px solid #2d2d2d;
    background-color: #2d2d2d;
    margin-right: 10px;
    z-index: 10;
    transition: .2s;
}

.normalBullet {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    border: 5px solid #2d2d2d;
    margin-right: 10px;
    z-index: 10;
    transition: .2s;
}

.activeLine {
    width: 5px;
    height: 30px;
    background-color: #2d2d2d;
    margin-left: 11px;
    margin-top: -2px;
    z-index: 9;
    transition: .2s;
}

.normalLine {
    width: 5px;
    height: 30px;
    background-color: #2d2d2d;
    margin-left: 11px;
    margin-top: -2px;
    z-index: 9;
    transition: .2s;
}

.activeText {
    color: #2d2d2d;
    font-weight: 600;
    transition: .2s;
}

.normalText {
    color: #2d2d2d;
    font-weight: 300;
    transition: .2s;
}