.aboutMe {
    display: flex;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.profilePicture {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 193.6px;
    width: auto;
    filter: blur(20px);
}

.textContainer {
    margin: 0 12px;
}

.Homepage h2 {
    text-align: center;
    margin-bottom: 15px;
}

.aboutMeContainer p {
    margin: 0;
}

@media (min-width: 850px) {
    .aboutMeContainer {
        width: 800px;
    }

    .aboutMe {
        width: 800px;
    }
}